
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 55vw;

}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

.Five {
    height: 50px; 
    margin-top: 50px;
}

#body {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


.red th, td{
  border: 2px solid red;
}

@media (max-width: 450px) {
  table {
    width: 70vw;
    font-size: 14px;
  }
  
  td, th {
    padding: 5px 10px;
  }
  
  .Five {
    height: 25px;
    margin-top: 25px;
  }
}


