body {
  margin: 0px;
  padding: 0px;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 55vw;

}


tb, th{
  padding: 10px 20px;
}


tbody tr:nth-child(odd) {
  background-color: rgba(243, 243, 243, 0.8);
}

tbody tr:nth-child(even) {
  background-color:  rgba(255, 255, 255, 0.8);
}

.Five {
    height: 50px; 
    margin-top: 50px;
    border-top: 1px solid #F3F3F3;
}

.roc{
  border-bottom: 1px solid #F3F3F3;
}

.topBor {
  border-top: 1px solid #F3F3F3;
}

#img {
  position: absolute;
  z-index: -1;
}

#body {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


.red th, td {
  border: 1px solid rgba(243, 243, 243, 0.8);
}

.red th:nth-child(odd){
  background-color: rgba(243, 243, 243, 0.8);
}

.red th:nth-child(even) {
  background-color:  rgba(255, 255, 255, 0.8);
}

#btn {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 190px;
  overflow: hidden;
  background-image: url("./Chopper.jpg");
  background-size: 100% 150px;
  background-repeat: no-repeat;
}

#chooseImg {
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

#Ob {
  position: relative;
  left: 37%;
  top: 10%;
  z-index: 101;
  display: none;
  height: 60vh;
  width: 50vw;
}


@media (max-width: 450px) {
  table {
    width: 70vw;
    font-size: 8px;
  }
  
  td, th {
    padding: 5px 10px;
  }
  
  .Five {
    height: 25px;
    margin-top: 25px;
  }
  
  #btn {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background-size: 100% 60px;
  }
}


